/* Nested grid for content in about page */
.nested-grid-content-about{
   display: grid;
   /* width: 100vw; */ /* Having width here caused overlap of the About page, so removing it fixed the problem. */
   height: 100%;
   width: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto;
   /* border: 2px solid grey; */
   grid-template-areas: 
   "hi"
   "mid"
   "low";
 }

.nested-grid-content-about > *{
   /* border: 2px solid aquamarine; */
 }

 .nested-content-top{
   display: grid;
   grid-area: hi;
   /* width: 100vw; */ /* Having width here caused overlap of the About page, so removing it fixed the problem. */
   max-height: 600px;
   width: 100%;
   grid-template-columns: auto 1fr;
   grid-template-rows: auto;
   /* border: 2px solid grey; */
   grid-template-areas: 
   "hi-l hi-r";
   background:  black;
 }

 /* Top left part of content section, in the about page */
.content-top-left{
   /* display: flex; */
   grid-area: hi-l;
   background:  black;
}

/* Top right part of content section, in the about page */
.content-top-right{
   grid-area: hi-r;
   background:  black;
}

.content-top-mid{
   grid-area: hi-m;
   background:  black;
   /* display: block; */
   margin-left: auto;
   margin-right: auto;
   border: 2px solid gold;
}

.nameBio{
   display: flex;
   align-items: left;
   justify-content: center; 
   padding-bottom: 10px; 
   font-size: 1.3rem;
}

#about-img{
   min-height: 400px;
   max-height: 600px;
   float: left;
}

/* Top left text for names */
/*
.top-left-first {
   position: absolute;
   top: 200px;
   left: 230px;
 }

.top-left-last {
   position: absolute;
   top: 260px;
   left: 230px;
 }
 */

 .about-highlight {
   /* color: #9ea7aa; */
   color: #afbec2;
 }

.top-about-name{
   position: absolute;
   top: 200px;
   left: 580px;
}

.top-about-name1{
   position: absolute;
   top: 240px;
   left: 580px;
}

.top-about-role{
   position: absolute;
   top: 325px;
   left: 580px;
}

/* Thick red border */
hr.contact1 {
   /* border: .5px solid white; */
   width: 250px;
   position: absolute;
   top: 450px;
   left: 580px;
 }

 hr.contact2 {
   width: 250px;
   position: absolute;
   top: 450px;
   left: 860px;
 }

.top-about-contact{
   position: absolute;
   top: 470px;
   left: 580px;
}

.top-about-location{
   position: absolute;
   top: 470px;
   left: 860px;
}

.top-about-contact1{
   position: absolute;
   top: 500px;
   left: 580px;
}

.top-about-location1{
   position: absolute;
   top: 500px;
   left: 860px;
}

.content-mid{
   grid-area: mid;
   justify-content: center;
   padding: 40px 400px;
   background: white;
}

.content-bottom{
   grid-area: low;
   padding-left: auto;
   padding-right: auto;
   background-color: black;
}

.nested-content-bottom{
   display: grid;
   overflow: hidden;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "gallery-up-l gallery-up-m gallery-up-r";
}



.gallery-up-l {
   display: grid;
   grid-area: gallery-up-l;
   float: left;
}

.gallery-up-m {
   display: grid;
   grid-area: gallery-up-m;
   float: left;
}

.gallery-up-r {
   display: grid;
   grid-area: gallery-up-r;
   float: left;
}


/* Nested grid in bottom part of the content section on the about page */

.nested-content-bottom{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   "gallery-up-l gallery-up-m gallery-up-r"
   "gallery-lo-l gallery-lo-m gallery-lo-r";

}

.gallery-up-l {
   grid-area: gallery-up-l;
   display: block;
   float: left;
}

.gallery-up-m {
   grid-area: gallery-up-m;
   display: block;
   float: left;
}

.gallery-up-r {
   grid-area: gallery-up-r;
   display: block;
}
/*
.nested-low {
   display: grid;
   grid-area: gallery-lo-m;
}

.nested-low-right {
   display: grid;
   grid-area: gallery-lo-r;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   "pic1-up"
   "pic2-lo";
}

.nested-low-left {
   grid-area: gallery-lo-l;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "left-pic mid-pic right-pic";
}

.gallery-low-right1 {
   display: grid;
   grid-area: pic1-up;
}

.nested-gallery-low-right1 {
   display: grid;
   grid-area: pic2-lo;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "left-picture middle-picture";
}

.gallery-low-right2 {
   display: grid;
   grid-area: left-picture;
}

.gallery-low-right3 {
   display: grid;
   grid-area: middle-picture;
}
*/


/* Image gallery */

/* flex container */
.image-container {
   display: flex;
   flex-wrap: no-wrap;
   margin: 20px;
}

.image-container > div {
   width: 100%;
   margin: 5px;
}

.img-example-container1{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   background-color: #afbec2;
}

.column {
   float: left;
   width: 33.33%;
   padding: 5px;
 }
 
 /* Clearfix (clear floats) */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }

div.image-gray {
   filter: grayscale(100%);
   transition-delay: .25s; 
   /* transition: all .25s ease-in-out;  */ /*Why is transition not working? */
   transition-timing-function: ease-in-out;
}

div.image-gray:hover {
   filter: grayscale(0);
}

.image-container::before {
   box-sizing: border-box;
}

.image-container::after {
   box-sizing: border-box;
}

ul{ 
   list-style-type: none;
}

li{ 
   display: inline-block;
   width: 100%;
   margin: 10px;
}

ul li {
   margin: 0 1.5rem 0 0;
 }