/* Nested grid for content in about page */
.nested-grid-content-about{
   display: grid;
   height: 100%;
   width: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto;
   grid-template-areas: 
   "hi"
   "mid"
   "low";
 }

 .nested-content-top{
   display: grid;
   grid-area: hi;
   max-height: 500px;
   width: 100%;
   grid-template-columns: auto 1fr;
   grid-template-rows: auto;
   grid-template-areas: 
   "hi-l hi-r";
   padding-bottom: 40px;
 }

 /* Top left part of content section, in the about page */
.content-top-left{
   /* display: flex; */
   grid-area: hi-l;
   background:  black;
   height: 800px;
}

/* Top right part of content section, in the about page */
.content-top-right{
   grid-area: hi-r;
   background:  black;
}

.content-top-mid{
   grid-area: hi-m;
   background:  black;
   /* display: block; */
   margin-left: auto;
   margin-right: auto;
}

.nameBio{
   display: flex;
   align-items: left;
   justify-content: center; 
   padding-bottom: 10px; 
   font-size: 1.3rem;
}

#about-img{
   min-height: 400px;
   max-height: 600px;
   float: left;
}

 .about-highlight {
   /* color: #9ea7aa; */
   color: #afbec2;
 }

.top-about-name{
   position: absolute;
   top: 200px;
   left: 580px;
}

.top-about-name1{
   position: absolute;
   top: 240px;
   left: 580px;
}

.top-about-role{
   position: absolute;
   top: 325px;
   left: 580px;
}

hr.contact1 {
   width: 250px;
   position: absolute;
   top: 450px;
   left: 580px;
 }

 hr.contact2 {
   width: 250px;
   position: absolute;
   top: 450px;
   left: 860px;
 }

.top-about-contact{
   position: absolute;
   top: 470px;
   left: 580px;
}

.top-about-location{
   position: absolute;
   top: 470px;
   left: 860px;
}

.top-about-contact1{
   position: absolute;
   top: 500px;
   left: 580px;
}

.top-about-location1{
   position: absolute;
   top: 500px;
   left: 860px;
}

.content-mid{
   grid-area: mid;
   justify-content: center;
   padding: 40px 200px 50px 200px;
   background: white;
}



/* Image gallery */

/* flex container */
.image-container {
   display: flex;
   flex-wrap: no-wrap;
   margin: 20px;
}

.image-container > div {
   width: 100%;
   margin: 5px;
}

.flex-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0;
}

.flex-container-nested1 {
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
}
 
.flex-container-nested2 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
}

.flex-container-nested3 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.flex-container-grid3 {
   display: grid;
   justify-content: center;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

img.image-gray {
   filter: grayscale(100%);
   transition-delay: .25s; 
   transition-timing-function: ease-in-out;
}

img.image-gray:hover {
   filter: grayscale(0);
}

ul{ 
   list-style-type: none;
}

li{ 
   display: inline-block;
   width: 100%;
   margin: 10px;
}

ul li {
   margin: 0 1.5rem 0 0;
}

/* Mobile */
@media(max-width: 600px) {
   .img-whole {
      width: 360px;
      height: 300px;
      padding-left: auto;
      padding-right: auto;
      background-color: none;
   }

   .img-one-third-w {
      width: 120px;
      height: 300px;
   }

   .img-one-quarter {
      width: 180px;
      height: 150px;
   }

   .img-one-half-h {
      width: 360px;
      height: 150px;
   }

   .content-bottom {
      grid-area: low;
      width: 100%;
      background-color: none; 
      margin-bottom: 0;
   }

   .nested-content-top {
      display: grid;
      grid-area: hi;
      max-height: 500px;
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
      "upper";
      background:  black;
      padding-bottom: 80px;
    }
   
   .content-top-left {
      display: none;
   }
  
   .content-top-right {
      display: none;
   }

   .content-top {
      background:  black;
      height: 400px;
   }

   .content-mid {
      grid-area: mid;
      justify-content: center;
      padding: 40px 40px;
      background: white;
   }

   .content-bottom {
      grid-area: low;
      width: 100%;
      background-color: black; 
      margin-bottom: 0;
   }

   #typography-name {
      font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 250;
      font-size: 2em;
      line-height: 2em;
   }

   .top-about-name1 {
      text-align: center;
   }

   .nameBio {
      padding-top: 30px;
   }

   hr.contact1 {
      width: 60%;
      position: absolute;
      top: 300px;
      left: 20%;
   }
   
    hr.contact2 {
      width: 250px;
      position: absolute;
      top: 405px;
      left: 20%;
      width: 60%;
   }

    .top-about-contact {
      position: absolute;
      top: 315px;
      left: 20%;
   }
   
   .top-about-location {
      position: absolute;
      top: 420px;
      left: 20%;
   }
   
   .top-about-contact1 {
      position: absolute;
      top: 340px;
      left: 20%;
   }
   
   .top-about-location1 { 
      position: absolute;
      top: 445px;
      left: 20%;
   }

   .flex-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 0;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: none;
   }

   .box-about {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: none;
      margin-bottom: 0px;
      height: 40px;
      padding-bottom: 20px;
      padding-top: 20px;
   }
}

/* Tablet */
 @media only screen and (min-width: 600px) and (max-width: 768px) {
   .img-whole {
      width: 360px;
      height: 300px;
      padding-left: auto;
      padding-right: auto;
      background-color: none;
   }

   .img-one-third-w {
      width: 120px;
      height: 300px;
   }

   .img-one-quarter {
      width: 180px;
      height: 150px;
   }

   .img-one-half-h {
      width: 360px;
      height: 150px;
   }

   .content-bottom {
      grid-area: low;
      width: 100%;
      background-color: none; 
      margin-bottom: 0;
   }

   .nested-content-top {
      display: grid;
      grid-area: hi;
      max-height: 500px;
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
      "upper";
      background:  black;
      padding-bottom: 40px;
    }
   
   .content-top-left {
      display: none;
   }
  
   .content-top-right {
      display: none;
   }

   .content-top {
      background:  black;
      height: 375px;
   }

   .content-mid {
      grid-area: mid;
      justify-content: center;
      padding: 40px 40px;
      background: white;
   }

   .content-bottom {
      grid-area: low;
      width: 100%;
      background-color: black; 
      margin-bottom: 0;
   }

   #typography-name {
      font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 250;
      font-size: 2.5em;
      line-height: 2em;
   }

   .top-about-name1 {
      text-align: left;
   }

   .nameBio {
      padding-top: 30px;
      position: absolute;
      left: 20%;
      top: 90px;
   }

   hr.contact1 {
      width: 60%;
      position: absolute;
      top: 300px;
      left: 20%;
   }
   
    hr.contact2 {
      width: 250px;
      position: absolute;
      top: 405px;
      left: 20%;
      width: 60%;
   }

    .top-about-contact {
      position: absolute;
      top: 315px;
      left: 20%;
   }
   
   .top-about-location {
      position: absolute;
      top: 420px;
      left: 20%;
   }
   
   .top-about-contact1 {
      position: absolute;
      top: 340px;
      left: 20%;
   }
   
   .top-about-location1 {
      position: absolute;
      top: 445px;
      left: 20%;
   }

   .flex-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 0;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: none;
   }

   .box-about {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: none;
      margin-top: -60px;
      padding-bottom: 20px;
      padding-top: 20px;
   }
 }

 /* Desktop */
@media only screen and (min-width: 768px) and (max-width: 992px) {
   .nested-content-top {
      display: grid;
      grid-area: hi;
      max-height: 500px;
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
      "upper";
      background:  black;
      padding-bottom: 40px;
   }
    
   .content-top {
      display: none;
   }
   
   .content-mid {
      grid-area: mid;
      justify-content: center;
      padding: 40px 40px 40px 40px;
      background: white;
   }

   .content-bottom {
      grid-area: low;
      width: 100%;
      background-color: black; 
      margin-bottom: 0;
   }

   #typography-name {
      font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 250;
      font-size: 2.5em;
      line-height: 2em;
   }

   .top-about-name1 {
      position: absolute;
      top: 90px;
      left: 20%;
   }

   .nameBio{
      padding-top: 30px;
   }

   hr.contact1 {
      width: 60%;
      position: absolute;
      top: 300px;
      left: 20%;
   }
   
    hr.contact2 {
      width: 250px;
      position: absolute;
      top: 405px;
      left: 20%;
      width: 60%;
   }

    .top-about-contact {
      position: absolute;
      top: 315px;
      left: 20%;
   }
   
   .top-about-location {
      position: absolute;
      top: 420px;
      left: 20%;
   }
   
   .top-about-contact1 {
      position: absolute;
      top: 340px;
      left: 20%;
   }
   
   .top-about-location1 {
      position: absolute;
      top: 445px;
      left: 20%;
   }

   .img-whole {
      width: 360px;
      height: 300px;
      padding-left: auto;
      padding-right: auto;
      background-color: none;
   }

   .img-one-third-w {
      width: 120px;
      height: 300px;
   }

   .img-one-quarter {
      width: 180px;
      height: 150px;
   }

   .img-one-half-h {
      width: 360px;
      height: 150px;
   }

   .box-about {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: none;
      margin-top: -60px;
      padding-bottom: 30px;
      padding-top: 30px;
   }
}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 992px) {
   .nested-content-top {
      display: grid;
      grid-area: hi;
      max-height: 550px;
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
      "upper";
      background:  black;
      padding-bottom: 40px;
   }
    
   .content-top {
      display: none;
   }
   
   .content-mid {
      grid-area: mid;
      justify-content: center;
      padding: 40px 40px 40px 40px;
      background: white;
   }

   .content-bottom {
      grid-area: low;
      width: 100%;
      background-color: black; 
      margin-bottom: 0;
   }

   #typography-name {
      font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 200;
      font-size: 4em;
      line-height: 1em;
   }

   .top-about-name1 {
      position: absolute;
      top: 160px;
      left: 280px;
   }

   .nameBio {
      padding-top: 30px;
   }

   hr.contact1 {
      width: 250px;
      position: absolute;
      top: 450px;
      left: 280px;
   }
   
    hr.contact2 {
      width: 250px;
      position: absolute;
      top: 450px;
      left: 560px;
   }

    .top-about-contact {
      position: absolute;
      top: 470px;
      left: 280px;
   }
   
   .top-about-location {
      position: absolute;
      top: 470px;
      left: 560px;
   }
   
   .top-about-contact1 {
      position: absolute;
      top: 500px;
      left: 280px;
   }
   
   .top-about-location1 {
      position: absolute;
      top: 500px;
      left: 560px;
   }

   .img-whole {
      width: 360px;
      height: 300px;
      padding-left: auto;
      padding-right: auto;
      background-color: none;
   }

   .img-one-third-w {
      width: 120px;
      height: 300px;
   }

   .img-one-quarter {
      width: 180px;
      height: 150px;
   }

   .img-one-half-h {
      width: 360px;
      height: 150px;
   }

   .box-about {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: none;
      margin-top: -60px;
      padding-bottom: 30px;
      padding-top: 30px;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .content-top {
      display: none;
   }

   .content-mid {
      grid-area: mid;
      justify-content: center;
      padding: 40px 200px 40px 200px;
      background: white;
   }

   .content-bottom {
      grid-area: low;
      width: 100%;
      background-color: black;   
      margin-bottom: 0;
   }

   .img-whole {
      width: 360px;
      height: 300px;
      padding-left: auto;
      padding-right: auto;
      background-color: none;
   }

   .img-one-third-w {
      width: 120px;
      height: 300px;
   }

   .img-one-quarter {
      width: 180px;
      height: 150px;
   }

   .img-one-half-h {
      width: 360px;
      height: 150px;
   }
} 


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 