/* Nested grid for content in about page */
.nested-grid-content-about{
   display: grid;
   /* width: 100vw; */ /* Having width here caused overlap of the About page, so removing it fixed the problem. */
   height: 100%;
   width: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto;
   /* border: 2px solid grey; */
   grid-template-areas: 
   "hi"
   "mid"
   "low";
 }

.nested-grid-content-about > *{
   /* border: 2px solid aquamarine; */
 }

 .nested-content-top{
   display: grid;
   grid-area: hi;
   /* width: 100vw; */ /* Having width here caused overlap of the About page, so removing it fixed the problem. */
   max-height: 600px;
   width: 100%;
   grid-template-columns: auto 1fr;
   grid-template-rows: auto;
   /* border: 2px solid grey; */
   grid-template-areas: 
   "hi-l hi-r";
   background:  black;
 }

 /* Top left part of content section, in the about page */
.content-top-left{
   /* display: flex; */
   grid-area: hi-l;
   background:  black;
}

/* Top right part of content section, in the about page */
.content-top-right{
   grid-area: hi-r;
   background:  black;
}

.content-top-mid{
   grid-area: hi-m;
   background:  black;
   /* display: block; */
   margin-left: auto;
   margin-right: auto;
   border: 2px solid gold;
}

.nameBio{
   display: flex;
   align-items: left;
   justify-content: center; 
   padding-bottom: 10px; 
   font-size: 1.3rem;
}

#about-img{
   min-height: 400px;
   max-height: 600px;
   float: left;
}

/* Top left text for names */
/*
.top-left-first {
   position: absolute;
   top: 200px;
   left: 230px;
 }

.top-left-last {
   position: absolute;
   top: 260px;
   left: 230px;
 }
 */

 .about-highlight {
   /* color: #9ea7aa; */
   color: #afbec2;
 }

.top-about-name{
   position: absolute;
   top: 200px;
   left: 580px;
}

.top-about-name1{
   position: absolute;
   top: 240px;
   left: 580px;
}

.top-about-role{
   position: absolute;
   top: 325px;
   left: 580px;
}

/* Thick red border */
hr.contact1 {
   /* border: .5px solid white; */
   width: 250px;
   position: absolute;
   top: 450px;
   left: 580px;
 }

 hr.contact2 {
   width: 250px;
   position: absolute;
   top: 450px;
   left: 860px;
 }

.top-about-contact{
   position: absolute;
   top: 470px;
   left: 580px;
}

.top-about-location{
   position: absolute;
   top: 470px;
   left: 860px;
}

.top-about-contact1{
   position: absolute;
   top: 500px;
   left: 580px;
}

.top-about-location1{
   position: absolute;
   top: 500px;
   left: 860px;
}

.content-mid{
   grid-area: mid;
   justify-content: center;
   padding: 40px 400px;
   background: white;
}

.content-bottom{
   grid-area: low;
   width: 100%;
   background-color: black;
   margin-bottom: 60px;
}


/* Image gallery */

/* flex container */
.image-container {
   display: flex;
   flex-wrap: no-wrap;
   margin: 20px;
}

.image-container > div {
   width: 100%;
   margin: 5px;
}

.img-example-container1{
   display: flex;
   flex-wrap: wrap;
   background-color: DodgerBlue;
   height: 180px;
}

.flex-container {
   display: flex;
   background-color: black;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
}
 
.flex-container > div {
   /* object-fit: contain; */
}

.flex-container-nested1 {
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
}
 
.flex-container-nested2 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
}

.flex-container-nested3 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.flex-container-grid3 {
   display: grid;
   justify-content: center;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

img.image-gray{
   filter: grayscale(100%);
   transition-delay: .25s; 
   /* transition: all .25s ease-in-out;  */ /*Why is transition not working? */
   transition-timing-function: ease-in-out;
}

img.image-gray:hover {
   filter: grayscale(0);
}

ul{ 
   list-style-type: none;
}

li{ 
   display: inline-block;
   width: 100%;
   margin: 10px;
}

ul li {
   margin: 0 1.5rem 0 0;
 }

 @media only screen and (max-width: 768px){
   .content-mid {
      grid-area: mid;
      justify-content: center;
      padding: 40px 20px;
      background: white;
   }
 }

 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
   .content-mid {
      grid-area: mid;
      justify-content: center;
      padding: 40px 200px;
      background: white;
   }
}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
   .content-mid {
      grid-area: mid;
      justify-content: center;
      padding: 40px 300px;
      background: white;
   }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

}

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 