@import url("typography.css");
@import url("social-media-logos.css");
@import url("bio.css");

/* ARTICLES CSS file */

html,
body{
   margin:0;
   padding:0;
   height:100%;
   background-color: #cfd8dc; 
   font-size: 16px;
}

.container{
   /* Set display to grid */
   display: grid;
   /* Set width and height of grid */
   width: 100vw;
   min-height:100%;
   position:relative;
   /* Initially each element has its own row for small screens (e.g., smartphones) */
   grid-template-columns: 1fr;
   /* grid-auto-rows: minmax(300px, auto); */
   grid-template-rows: auto auto auto;
    /* Name rows and columns */
   grid-template-areas: 
   "hd"
   "main"
   "ft";
   /* grid-gap: 10px; */ /* This grid gap caused a gap at the bottom of photo gallery in about page*/
   /* margin: auto; */
   justify-content: center;
   /* border: 5px solid red; */
}

.header{
   grid-area: hd;
   /* padding:0px; */
   /* width: 100%; */
}

/* Nested grid for top part (header section) of page */
.nested-grid{
   display: grid;
   width: 100vw;
   height: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: 100px 40px 40px;
   align-items: center; 
   justify-content: center; 
   grid-gap: 5px;
}

.menu{
   justify-content: center; 
   background-color: none;
   margin: 0 auto;
}

/* Main area of page, in the middle section */
.content{
   grid-area: main;
   padding:0px;
   padding-bottom:60px;   /* Height of the footer */
   /* background-color: white; */
}

.box{
   display: flex; 
   align-items: center; 
   justify-content: center; 
   background-color: none;
}

/* Portfolio page nested cards for content */
.content-cards{
   display: grid;
   grid-template-columns:  280px 1fr;
   grid-template-rows: 150px;
   /* margin: 10px; */ /* Separates the cards */
   padding-top: 0px;
   grid-template-areas: 
   "img-l txt-r";
   /* justify-content: center; */
   grid-gap: 1rem;
   border: 2px solid red;
}

.content-card-left{
   grid-area: img-l;
   /* background: #4f5b62; */
   background-size: cover;
   height: 80%;
   width: 80%;
   padding-top: auto;
   padding-bottom: auto;
   align-items: center;
}

.content-card-right{
   grid-area: txt-r;
   text-align: left;
   padding-left: 10px;
   padding-right: 10px;
   /* word-break: break-all; */
   word-wrap: break-word; 
   max-width: 100%;
}

 /* Nested grid for content on the blog homepage */
.cards{
   display: grid;
   grid-area: main;
   padding:0px;
   padding-bottom:60px;   /* Height of the footer */
   grid-template-columns: 90%;
   grid-auto-rows: minmax(200px, auto);
   justify-content: center;
   margin: 0;
   grid-gap: 15px;
}

.nested-grid-cards{
   display: grid;
   grid-template-columns: 180px 280px;
   grid-template-rows: 100%;
   /* margin: 10px; */ /* Separates the blog post cards */
   padding-top: 0px;
   grid-template-areas: 
   "card-l card-r";
   justify-content: center;
}

.nested-grid-cards > *{
   /* border: 2px solid yellow; */
   background: white;
}

/* Area on left side of blog post card, where the thumbnail image is located */
.card-left{
   grid-area: card-l;
   background: #4f5b62;
   background-size: cover;
   height: 200px;
   width: auto;
}

/* Area on right side of blog post card, where the blog text is located */
.card-right{
   grid-area: card-r;
   text-align: left;
   padding-left: 10px;
   padding-right: 10px;
   /* word-break: break-all; */
   word-wrap: break-word; 
   max-width: 100%;
}

/* Nested grid for the area on right side of blog post card */
.nested-card-right{
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: auto auto auto auto;
   grid-template-areas: 
   "c-title"
   "c-date"
   "c-sent"
   "c-read";
}

.nested-card-right > *{
   margin: 0;
   padding: 5px;
}

.card-title{
   grid-area: c-title;
   padding-top: 15px;
}

.card-date{
   grid-area: c-date;
}

.card-sentence{
   grid-area: c-sent; 
   padding-bottom: 15px;  
}

.card-continue{
   grid-area: c-read;    
}

/* Creating image thumbnail for blog post card */
#thumbnail{
   border: 0px solid #ddd; /* Gray border */
   border-radius: 0px;  /* Rounded border */
   padding: 0; /* Some padding */
   width: 100%; /* This fits the width of the image inside the thumbnail */
}

 /* Nested grid for content on the blog post page */
.nested-grid-content{
   display: grid;
   background: white;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto auto auto;
   /* grid-gap: 15px; */
   padding-left: 15px; 
   padding-right: 15px; 
   grid-template-areas: 
   "title"
   "date"
   "img"
   "cap"
   "post";
   }
   
.nested-grid-content > *{
   margin: 0;
   padding: 5px;
}

.date{
   grid-area: date;
   padding-top: 5px;
   padding-bottom: 15px;
   text-align: left;
}

.blog-title{
   grid-area: title;
}

.blog-image{
   grid-area: img;
   justify-self: center; /* centering the image */
}

.blog-image-caption{
   grid-area: cap;
   padding-bottom: 15px;
   text-align: center;
}

.blog-post{
   grid-area: post;
}

/* Setting the style for a figure(s) in a blog */
.blog-figure{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/* Setting the style for a figure caption in a blog */
.blog-figure-caption{
   text-align: center;
}

/* Creating subscribe button for blogs, to be used in the future */
/* The button does not subscribe, that is beyond the scope of this site, for now */
.button{
   display: none;
   /* display: block; */ /* display set to 'block' and setting the margin to '0 auto' centered the button */
   margin: 0 auto;
   /* background-color: #b4004e; */
   background-color: #5378a3; 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 1em;
   border-radius: 8px;
   width: 15%;
   transition: .1s; /* Change property values smoothly, over a given duration */
 }

/* Button size slightly enlarges with hover */
 .button:hover{
   transform: scale(1.1);
 }

/* Button size decreases with click */
 .button:active{
   transform: scale(0.8);
}

/* Footer section for the pages */
.footer{
   position:absolute;
   bottom:0;
   width: 100%;
   height:60px;   /* Height of the footer */
   background:#9ea7aa;
}

/* logo image at top of website */
#header-logo{
   width: 15%;
   margin: 0 auto; /* center the image logo*/
   padding-top: 15px;
   padding-bottom: 15px;
}

/* Tablet screen width size, note the width should be 480px */
@media(min-width:700px){  
   .header{
      grid-area: hd;
      /* border: 2px solid #b4004e; */
    }

      /* Adding nested grid for header to separate: logo, introduction, main menu */
      .nested-grid{
          display: grid;
          width: 100vw;
          height: 100%;
          grid-template-columns: 1.4fr 3fr 2fr;
          grid-template-rows: 1fr;
          /* grid-gap: 15px; */
          /* border: 2px solid white; */
          align-items: center; 
          justify-content: center; 
          /* border: 2px solid black; */
      }

      .nested-grid > *{
          /* border: 2px solid yellow; */
          /* padding-left: 1em; */
          /* padding-right: 1.8em; */
      } 

      .content{
      grid-area: main;
      padding: 0; 
      padding-bottom: 60px;   /* Height of the footer */
      background-color: #ffffff;
      margin-right: 80px;
      margin-left: 80px;
      }
    
    #header-logo{
        width: 45%;
        padding: 30px; /* Adding padding to the logo image */
    }

    /* Moving blog post cards to two columns */
    .cards{
      display: grid;
      grid-area: main;
      padding:0px;
      padding-bottom: 60px; 
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(200px, auto);
      justify-content: center;
      margin: 0;
      grid-gap: 15px;
   }
   
   /* Area on left side of blog post card, where the thumbnail image is located */
   .card-left{
      grid-area: card-l;
      background: #4f5b62;
      background-size: cover;
      height: 200px;
      width: auto;
   }
   
   /* Area on right side of blog post card, where the blog text is located */
   .card-right{
      grid-area: card-r;
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
      /* word-break: break-all; */
      word-wrap: break-word; 
      max-width: 100%;
      height: 200px;
   }
}

/* Desktop screen width size*/
@media(min-width:1024px){  
   .header{
      grid-area: hd;
      /* border: 2px solid #b4004e; */
    }

      /* Adding nested grid for header to separate: logo, introduction, main menu */
      .nested-grid{
          display: grid;
          width: 100vw;
          height: 100%;
          grid-template-columns: 1.4fr 3fr 2fr;
          grid-template-rows: 1fr;
          /* grid-gap: 15px; */
          /* border: 2px solid white; */
          align-items: center; 
          justify-content: center; 
      }

      .nested-grid > *{
          /* border: 2px solid yellow; */
          /* padding-left: 1em; */
          /* padding-right: 1.8em; */
      } 

      .content{
      grid-area: main;
      padding: 0;
      padding-bottom:60px;   /* Height of the footer */
      background-color: #ffffff;
      margin-right: 80px;
      margin-left: 80px;
      }
    
    #header-logo{
        width: 45%;
        padding: 30px; /* Adding padding to the logo image */
    }

        /* Moving blog post cards to three columns */
        .cards{
         display: grid;
         grid-area: main;
         padding:0px;
         padding-bottom: 60px; 
         grid-template-columns: 1fr 1fr 1fr;
         grid-auto-rows: minmax(200px, auto);
         justify-content: center;
         margin: 0;
         grid-gap: 15px;
      }
      
      /* Area on left side of blog post card, where the thumbnail image is located */
      .card-left{
         grid-area: card-l;
         background: #4f5b62;
         background-size: cover;
         height: 200px;
         width: auto;
      }
      
      /* Area on right side of blog post card, where the blog text is located */
      .card-right{
         grid-area: card-r;
         text-align: left;
         padding-left: 10px;
         padding-right: 10px;
         /* word-break: break-all; */
         word-wrap: break-word; 
         max-width: 100%;
         height: 200px;
      }
}
