@import url("typography.css");
@import url("social-media-logos.css");
@import url("bio.css");
@import url("portfolio.css");

/* ARTICLES CSS file */

html,
body{
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
   background-color: #e2e8ed;
   font-size: 16px;
}

.container{
   display: grid; /* Set display to grid */
   width: 100vw; /* Set width and height of grid */
   min-height: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto;
    /* Name rows and columns */
   grid-template-areas: 
   "hd"
   "main"
   "ft";
   justify-content: center;
}

.header{
   grid-area: hd;
}

/* Nested grid for top part (header section) of page */
.nested-grid{
   display: grid;
   width: 100vw;
   margin-bottom: 0;
   grid-template-columns: 2.5fr 2.5fr; 
   grid-template-rows: 1fr;
}

.menu{
   background-color: none;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 0;
   padding-top: 50px;
   padding-bottom: 50px;
   padding-right: 50px;
   text-align: right;
}

.header-name{
   background-color: none;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 0;
   padding-left: 50px;
   padding-top: 50px;
   padding-bottom: 50px;
   text-align: left;
   margin-left: 0;
}

/* Main area of page, in the middle section */
.content{
   grid-area: main;
   padding: 0px;
   margin-left: auto;
   margin-right: auto;
}

.box{
   display: flex; 
   align-items: center; 
   justify-content: center; 
   background-color: none;
}

/* Footer section for the pages */
.footer{
   display: flex; 
   align-items: center; 
   justify-content: center; 
   background-color: none;
   padding-bottom: 30px;
   padding-top: 30px;
   color: black;
}

@media(max-width:600px){
   .nested-grid{
      display: grid;
      width: 100vw;
      height: 90px;
      margin-bottom: 0;
      grid-template-columns: 2.5fr 2.5fr; 
      grid-template-rows: 1fr;
   }

   .header-name {
      display: none;
   }

   .menu {
      width: 100vw;
      text-align: center;
      padding-top: 32px;
      padding-bottom: 25px;
   }

   .content{
      grid-area: main;
      padding: 0px;
      margin-left: auto;
      margin-right: auto; 
   }
}

/* Tablet screen width size, note the width should be 480px */
@media(min-width:600px) and (max-width: 768px){ 
   .header{
      grid-area: hd;
    }

   .nested-grid{
      display: grid;
      width: 100vw;
      height: 130px;
      margin-bottom: 0;
      grid-template-columns: 200px 0.5fr 2.5fr; 
      grid-template-rows: 1fr;
      margin-bottom: 0;
   }
   
   .menu{
      background-color: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      padding-top: 50px;
   }

   .header-name {
      width: 200px;
      text-align: left;
      padding-top: 50px;
   }

   .content{
      grid-area: main;
   }  
    
    #header-logo{
        width: 45%;
        padding: 30px; /* Adding padding to the logo image */
    }

   .footer{
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: none;
      padding-bottom: 30px;
      padding-top: 30px;
      color: black;
   }
}

@media(min-width:768px) and (max-width: 992px){ 
   .header{
      grid-area: hd;
    }

   .nested-grid{
      display: grid;
      width: 100vw;
      height: 130px;
      margin-bottom: 0;
      grid-template-columns: 200px 0.5fr 2.5fr; 
      grid-template-rows: 1fr;
      margin-bottom: 0;
   }
   
   .menu{
      background-color: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      padding-top: 50px;
   }

   .header-name {
      width: 200px;
      text-align: left;
      padding-top: 50px;
   }

   .content{
      grid-area: main;
   }  
    
    #header-logo{
        width: 45%;
        padding: 30px; /* Adding padding to the logo image */
    }

   .footer{
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: none;
      padding-bottom: 30px;
      padding-top: 30px;
      color: black;
   }
}

@media(min-width:992px){ 
   .header{
      grid-area: hd;
    }

   .nested-grid{
      display: grid;
      width: 100vw;
      height: 130px;
      margin-bottom: 0;
      grid-template-columns: 200px 0.5fr 2.5fr; 
      grid-template-rows: 1fr;
      margin-bottom: 0;
   }
   
   .menu{
      background-color: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      padding-top: 50px;
   }

   .header-name {
      width: 200px;
      text-align: left;
      padding-top: 50px;
   }

   .content{
      grid-area: main;
   }  
    
    #header-logo{
        width: 45%;
        padding: 30px; /* Adding padding to the logo image */
    }

   .footer{
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: none;
      padding-bottom: 30px;
      padding-top: 30px;
      color: black;
   }
}

/* Desktop screen width size*/
@media(min-width:1200px){  
      .content{
      grid-area: main;
      padding: 0;
      }
    
    #header-logo{
        width: 45%;
        padding: 30px; /* Adding padding to the logo image */
    }

    .header-name {
      margin: auto;
      padding-top: 50px;
      padding-bottom: 50px;
   }

   /* Footer section for the pages */
   .footer{
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: none;
      padding-bottom: 30px;
      padding-top: 30px;
      color: black;
   }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 
