/* Portfolio page nested cards for content */
.content-cards{
   display: grid;
   grid-area: main;
   grid-template-columns:  auto 3.8fr;
   /* grid-template-rows: 200px 200px; */
   grid-auto-rows: 250px;
   margin: 20px; /* Separates the cards */
   grid-template-areas: 
   "img-l txt-r";
   /* justify-content: center; */
   /* grid-gap: 1rem; */
   background-color: white;
   /* border: 2px solid black; */
}

.content-card-left{
   grid-area: img-l;
   /* background: #4f5b62; */
   background-size: cover;
   /* height: 150px; */
   /* width: 150px; */
   max-width: 150px;
   max-height: 150px;
   align-self: center;
   /* border: 2px solid orchid; */
   padding: 10px;
   padding-left: 20px;
}

.content-card-right{
   grid-area: txt-r;
   /* text-align: left; */
   /* word-break: break-all; */
   word-wrap: break-word; 
   /* border: 2px solid red; */
   padding-left: 10px;
   /* display: flex; */
   /* justify-content: center; */ /* Align items horizontally */
   /* align-items: center; */ /* Align items vertically using flexbox */
}

/* Nested grid for the area on right side of the card */
.nested-content-card-right{
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 125px auto;
   grid-template-areas: 
   "c-intro"
   "c-read";
   /* border: 2px solid burlywood; */
}

/*
.nested-card-right > *{
   margin: 0;
   padding: 5px;
}
*/

.card-intro{
   grid-area: c-intro; 
   display: flex;
   align-items: flex-end; /* Aligning text at the bottom of this section of the grid via flex*/
   padding-bottom: 10px;
   height: 125px;
   margin-top: 0;
   margin-bottom: 10px;
}

.card-continueReading{
   grid-area: c-read; 
   /* border: 2px solid gold; */
   margin-top: 10px; 
   padding-top: 10px; 
   padding-bottom: 10px;
}
