/* Portfolio page nested cards for content */
.content-cards{
   display: grid;
   grid-area: main;
   grid-template-columns:  175px 1fr;
   /* grid-template-rows: 200px 200px; */
   grid-auto-rows: 250px;
   margin: 10px; /* Separates the cards */
   grid-template-areas: 
   "img-l txt-r";
   /* justify-content: center; */
   /* grid-gap: 1rem; */
   background-color: white;
   border: 2px solid green;
}

.content-card-left{
   grid-area: img-l;
   /* background: #4f5b62; */
   background-size: cover;
   height: 150px;
   width: 150px;
   max-width: 100%;
   align-self: center;
   border: 2px solid orchid;
   padding: 10px;
}

.content-card-right{
   grid-area: txt-r;
   display: flex;
   /* text-align: left; */
   /* word-break: break-all; */
   word-wrap: break-word; 
   max-width: 100%;
   border: 2px solid palevioletred;
   /* justify-content: center; */ /* Align items horizontally */
   align-items: center; /* Align items vertically using flexbox */
}

/* Nested grid for the area on right side of blog post card */
.nested-content-card-right{
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: auto auto;
   grid-template-areas: 
   "c-sent"
   "c-read";
}

.nested-card-right > *{
   margin: 0;
   padding: 5px;
}

.card-sentence{
   grid-area: c-sent; 
   padding-bottom: 15px;  
}

.card-continue{
   grid-area: c-read;    
}
