/* Main menu font */
#typography-1{
    /* font-family: Helvetica, arial, sans-serif; */
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* font-weight: bold; */
    text-align: center; 
    font-size: 1.05em;
    /* line-height: 1.2em; */
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.022em;
    margin: auto;
    text-transform: uppercase;
    width: 98%;
    color: #000000;
    justify-content: center;
    text-decoration: none; /* Removed underline hyperlinks */
    padding: 2px; 
 }

 #typography-1:hover{ 
   font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; 
   font-weight: bold; 
   text-align: center; 
   font-size: 1.05em;
   line-height: 1.5;
   font-weight: 700;
   letter-spacing: 0.022em;
   margin: auto;
   text-transform: uppercase;
   width: 98%;
   color: #000000;
   justify-content: center;
   text-decoration: none; /* Removed underline hyperlinks */
}

#typography-1-name{
   font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
   text-align: center; 
   font-size: 1.05em;
   line-height: 1.5;
   font-weight: 400;
   letter-spacing: 0.022em;
   margin: auto;
   text-transform: uppercase;
   width: 98%;
   color: #000000;
   justify-content: center;
   text-decoration: none; /* Removed underline hyperlinks */
}

 /* Main menu font */
#typography-1-title{
   font-family: Helvetica, arial, sans-serif;
   font-weight: bold; 
   text-align: left; 
   font-size: 2.25em;
   line-height: 2.2em;
   text-transform: uppercase;
   width: 98%;
   color: #000000;
   text-decoration: none; /* Removed underline hyperlinks */
   /* padding: 2px; */
}

/* Text font for portfolio card */
#typography-portfolio{
   font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   font-size: 1.5em;
   line-height: .5em;
   text-align: left;
   padding-top: 15px; 
   padding-bottom: 15px; 
}
 
 /* Main heading font (at the top of the pages) */
 #typography-2{
    font-family: Georgia, serif, Times;
    color: #000000;
    font-size: 1.25em;
    line-height: 1.1em;
    padding-bottom: 15px; /* Used this to separate the sentence in the header from the main menu */
    text-align: center;
 }
 
 /* Code font */
 #typography-3{
    font-family: Menlo, Monaco, "Courier New", Courier, monospace, Andale Mono, Verdana;
 }
 
 /* Blog font*/
 #typography-4{
     font-family: Georgia, Cambria, serif, "Times New Roman", Times;
     font-size: 1.15em;
     line-height: 1.2em;
 }
 
 /* Heading font for blog */
 #typography-5{
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.05em;
    colot: white;
 }

  /* About page large white font */
  #typography-6{
   font-family: Georgia, serif, Times;
   color: white;
   /* font-size: 1.25em; */ /* This font size was used with a quote */
   font-size: 2.25em;
   line-height: 1.1em;
   padding-bottom: 15px; /* Used this to separate the sentence in the header from the main menu */
   text-align: center;
}

 /* Portfolio title font*/
 #typography-portfolio-title{
   font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   font-size: 4.15em;
   line-height: 1.2em;
   font-weight: 200;
}

 /* Portfolio about project font*/
 #typography-portfolio-title1{
   font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   font-size: 2.5em;
   line-height: 1.2em;
   font-weight: 200;
}

#typography-portfolio-txt{
   font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   font-size: 1.15em;
     line-height: 1.2em;
   font-weight: 200;
}

#typography-name{
   font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   color: white;
   /* font-size: 1.25em; */ /* This font size was used with a quote */
   font-size: 3.25em;
   line-height: 1.1em;
   padding-bottom: 15px; /* Used this to separate the sentence in the header from the main menu */
   text-align: center;
}

 /* Heading font for blog post card */
 #typography-card-head{
   font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   font-size: 1.7em;
   line-height: 1.05em;
}

 /* Blog post card sentence font*/
 #typography-card-sent{
   font-family: Georgia, Cambria, serif, "Times New Roman", Times;
   font-size: 1.05em;
   line-height: 1.2em;
}

#typography-date{
   font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   color: #9ea7aa;
   font-size: 0.8em;
   line-height: 1em;
}

#typography-links{
   font-family: CallunaLghtRegular, Georgia, Cambria, serif, "Times New Roman", Times;
   font-size: 0.95em;
   line-height: 1em;
   /* color: #2b8ee0; */
   /* color: #0d83e3; */
   color: rgb(3, 110, 216);
   /* color: #06c; */
   /* color: #3568b0; */
}

#typography-caption{
   font-family: CallunaLghtRegular, Georgia, Cambria, serif, "Times New Roman", Times;
   font-size: 0.9em;
   line-height: 1em;
   color: black;
   /* color: #ff77a9; */
}

/* */
#secTitle1{
   font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
   font-weight: 410;
   text-align: center; 
   font-size: 1.35em;
   line-height: 1.2em;
   margin: auto;
   text-transform: uppercase;
   width: 98%;
   color: #000000;
   justify-content: center;
   text-decoration: none; /* Removed underline hyperlinks */
   /* padding: 2px; */
}

#typography-footer{
   /* font-family: Helvetica, arial, sans-serif; */
   font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
   /* font-weight: bold; */
   /* text-align: center; */
   font-size: 1.05em;
   /* line-height: 1.2em; */
   line-height: 1.5;
   font-weight: 400;
   letter-spacing: 0.022em;
   /* margin: auto; */
   text-transform: uppercase;
   /* color: #edf0f1; */
   color: white;
   /* justify-content: center; */
   text-decoration: none; /* Removed underline hyperlinks */
   /* padding: 2px; */
   padding: 5px;
}

#typography-footer:hover{ 
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-weight: bold; 
  /* text-align: center; */
  font-size: 1.05em;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.022em;
  /* margin: auto; */
  text-transform: uppercase;
  color: white;
  /* justify-content: center; */
  text-decoration: none; /* Removed underline hyperlinks */
  padding: 5px;
}

   