/* Style example for about page */

/* Creating a nested grid for the page layout within the content section (in the about page) */
.nested-grid-content-about{
  display: grid;
  /* box-sizing: border-box; */
  width: 100vw;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* align-items: center; */ 
  /* justify-content: center; */
  /* grid-gap: 15px; */
  grid-template-areas: 
  "upl upl upr upr"
  "mid mid mid mid"
  "low low low low";
  border: 2px solid yellow;
}

.bio-sentence{
  grid-area: upl;
  background-color: black;
}

.bio-image{
  grid-area: upr;
}

.bio-text{
  grid-area: mid;
}

.bio-imgage-gallery{
  grid-area: low;
}

#image-gallery{
  display: flex;
}

/* Tablet screen width size, note the width should be 480px */
@media(min-width:900px){  
   
}

/* Desktop screen width size*/
@media(min-width:1024px){  
  
}