/* Style example */
#test{
    color:#000a12;
}



/* Color scheme */
/* text on primary color (p_color) should be #ffffff (white) */
#p_color{
    color: #263238;
}
/* text on p_color_dark should be #ffffff */
#p_color_dark{
    color: #000a12;
}
/* text on p_color_light should be #ffffff */
#p_color_light{
    color: #4f5b62;
}
/* text on secondary color (s_color) should be #000000 (black) */
#s_color{
    color: #ec407a;
}
/* text on s_color_dark should be #ffffff */
#s_color_dark{
    color: #b4004e;
}
/* text on s_color_light should be #000000 */
#s_color_light{
    color: #ff77a9;
}

#typography_1{
    text-align: center; 
    font-size: 1em;
    color: #ffffff;
    line-height: 3.3em;
    margin: auto;
    width: 64%;
}
#typography_2{
    text-align: center; 
    font-size: 1em;
    color: #000000;
    line-height: 3.3em;
    margin: auto;
    width: 64%;
}
#masthead{
    display: block;
}

